package ${daoPackage};

import java.io.Serializable;
import java.util.Arrays;
import java.util.Collection;
import java.util.List;
import net.sf.mardao.api.CursorPage;
import net.sf.mardao.api.dao.Dao;
import ${entity.className};

/**
 * DAO interface with finder methods for ${entity.simpleName} entities.
 *
 * Generated on ${currentDate}.
 * @author mardao DAO generator (${helper.class.name})
 */
public interface Generated${entity.simpleName}Dao extends Dao<${entity.simpleName}, ${entity.pk.type}> {

	/** Column name for primary key attribute is "${entity.pk.columnName}" */
	static final String COLUMN_NAME_${entity.pk.name.toUpperCase()} = "${entity.pk.columnName}";

#if( $entity.parent )
#set( $field = $entity.parent )
	/** Column name for parent ${field.name} is "${field.columnName}" */
	static final String COLUMN_NAME_${field.name.toUpperCase()} = "${field.columnName}";

#end

#set( $allFields = $entity.allFields )
#foreach( $field in $allFields )
	/** Column name for field ${field.name} is "${field.columnName}" */
	static final String COLUMN_NAME_${field.name.toUpperCase()} = "${field.columnName}";
#end

	/** The list of attribute names */
	static final List<String> COLUMN_NAMES = Arrays.asList(
		COLUMN_NAME_${entity.pk.name.toUpperCase()}#foreach( $field in $allFields ), 
		COLUMN_NAME_${field.name.toUpperCase()}#end);


#if( $entity.parent )
#set( $field = $entity.parent )
	// ----------------------- parent finder -------------------------------
##	/**
##	 * find-by method for parent field ${field.name}
##	 * @param ${field.name} the specified attribute
##	 * @return a Collection of ${entity.simpleName}s with the specified parent
##	 */
##	Collection<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}(Object ${field.name});
##		
##	/**
##	 * find-keys-by method for parent field ${field.name}
##	 * @param ${field.name} the specified attribute
##	 * @return a Collection of ${entity.simpleName}s with the specified parent
##	 */
##	Collection<${entity.pk.type}> findKeysBy${helper.firstToUpper($field.name)}(Object ${field.name});
##
	/**
	 * query-by method for parent field ${field.name}
	 * @param ${field.name} the specified attribute
	 * @return an Iterable of ${entity.simpleName}s with the specified parent
	 */
	Iterable<${entity.simpleName}> queryBy${helper.firstToUpper($field.name)}(Object ${field.name});
		
	/**
	 * query-keys-by method for parent field ${field.name}
	 * @param ${field.name} the specified attribute
	 * @return an Iterable of ${entity.simpleName}s with the specified parent
	 */
	Iterable<${entity.pk.type}> queryKeysBy${helper.firstToUpper($field.name)}(Object ${field.name});

	/**
	 * query-page-by method for parent field ${field.name}
	 * @param ${field.name} the specified attribute
         * @param pageSize the number of domain entities in the page
         * @param cursorString non-null if get next page
	 * @return a Page of ${entity.simpleName}s for the specified ${field.name} (parent)
	 */
	CursorPage<${entity.simpleName}> queryPageBy${helper.firstToUpper($field.name)}(${field.type} ${field.name},
            int pageSize, Serializable cursorString);

#end   
	// ----------------------- field finders -------------------------------
#foreach( $field in $entity.fields )
#if( $entity.isUnique($field.name) )
	/**
	 * find-by method for unique field ${field.name}
	 * @param ${field.name} the unique attribute
	 * @return the unique ${entity.simpleName} for the specified ${field.name}
	 */
	${entity.simpleName} findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name});
#else
##	/**
##	 * find-by method for field ${field.name}
##	 * @param ${field.name} the specified attribute
##	 * @return a Collection of ${entity.simpleName}s with the specified ${field.name}
##	 */
##	Collection<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name});
##	
##	/**
##	 * find-primary-key-by method for field ${field.name}
##	 * @param ${field.name} the specified attribute
##	 * @return a Collection of keys to the ${entity.simpleName}s with the specified attribute
##	 */
##	Collection<${entity.pk.type}> findKeysBy${helper.firstToUpper($field.name)}(${field.type} ${field.name});
##
	/**
	 * query-by method for field ${field.name}
	 * @param ${field.name} the specified attribute
	 * @return an Iterable of ${entity.simpleName}s for the specified ${field.name}
	 */
	Iterable<${entity.simpleName}> queryBy${helper.firstToUpper($field.name)}(${field.type} ${field.name});
		
	/**
	 * query-keys-by method for field ${field.name}
	 * @param ${field.name} the specified attribute
	 * @return an Iterable of ${entity.simpleName}s for the specified ${field.name}
	 */
	Iterable<${entity.pk.type}> queryKeysBy${helper.firstToUpper($field.name)}(${field.type} ${field.name});

	/**
	 * query-page-by method for field ${field.name}
	 * @param ${field.name} the specified attribute
         * @param pageSize the number of domain entities in the page
         * @param cursorString non-null if get next page
	 * @return a Page of ${entity.simpleName}s for the specified ${field.name}
	 */
	CursorPage<${entity.simpleName}> queryPageBy${helper.firstToUpper($field.name)}(${field.type} ${field.name},
            int pageSize, Serializable cursorString);

#end	

#end	
		  
	// ----------------------- one-to-one finders -------------------------
#foreach( $field in $entity.oneToOnes )
#set( $foreign = $entities.get($field.type))
	/**
	 * find-by method for one-to-one field ${field.name}
	 * @param ${field.name} the related ${field.type} entity
	 * @return the ${entity.simpleName} belonging to the one-to-one relation
	 */
	${entity.simpleName} findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name});
	
#if( $foreign )  
	/**
	 * find-by method for one-to-one field ${field.name}
	 * @param ${foreign.pk.name} the related ${field.type} entity's primary key
	 * @return the ${entity.simpleName} belonging to the one-to-one relation
	 */
	${entity.simpleName} findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${foreign.pk.type} ${foreign.pk.name});
#end	
	
#end	

	// ----------------------- many-to-one finders -------------------------
#foreach( $field in $entity.manyToOnes )
#set( $foreign = $entities.get($field.type)) 
	/**
	 * find-by method for many-to-one field ${field.name}
	 * @param ${field.name} the related ${field.type} entity
	 * @return a List of ${entity.simpleName}s belonging to the many-to-one relation
	 */
	List<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name});

#if( $foreign )	
	/**
	 * find-by method for many-to-one field ${field.name}
	 * @param ${foreign.pk.name} the related ${field.type} entity's primary key
	 * @return a Collection of ${entity.simpleName}s belonging to the many-to-one relation
	 */
	List<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${foreign.pk.type} ${foreign.pk.name});
#end	
	
#end	
	
	// ----------------------- many-to-many finders -------------------------
#foreach( $field in $entity.manyToManys )
#set( $foreign = $entities.get($field.type))
	/**
	 * find-by method for many-to-many field ${field.name}
	 * @param ${field.name} the related ${field.type} entity
	 * @return a List of ${entity.simpleName}s belonging to the many-to-many relation
	 */
	Collection<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name});
	
#if( $foreign )  
	/**
	 * find-by method for many-to-many field ${field.name}
	 * @param ${foreign.pk.type} the related ${field.type} entity's primary key
	 * @return a Collection of ${entity.simpleName}s belonging to the many-to-many relation
	 */
	Collection<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${foreign.pk.type} ${foreign.pk.name});
#end	
	
#end	

	// ----------------------- uniqueFields finders -------------------------
	
#foreach( $uniqueFields in $entity.uniqueFieldsSets )
	/**
	 * find-by method for unique fields
#foreach( $field in $uniqueFields )	 
	 * @param ${field.name} the specified ${field.name}
#end	 
	 * @return the unique ${entity.simpleName} for the specified fields
	 */
	${entity.simpleName} findBy#foreach( $field in $uniqueFields )
${helper.firstToUpper($field.name)}#end(#foreach( $field in $uniqueFields )
${field.type} ${field.name}#if( $velocityCount < $uniqueFields.size() ), #end
#end);

#end
	
	// ----------------------- populate / persist method -------------------------

	/**
	 * Persist an entity given all attributes
	 */
	${entity.simpleName} persist(#if( $entity.parent )
Object ${entity.parent.name},  	
#end		${entity.pk.type} ${entity.pk.name}#foreach( $field in $entity.fields )
, 
		${field.type} ${field.name}#end
#foreach( $field in $entity.oneToOnes )	 
, 
		${field.type} ${field.name}#end
#foreach( $field in $entity.manyToOnes )	 
, 
		${field.type} ${field.name}#end);	

#if( $persistenceType != "JPA" )
#if( $entity.firstUniqueField )
#set( $uniqueField = $entity.firstUniqueField )
	/**
	 * Persists an entity unless it already exists
	 */
	 ${entity.simpleName} persist(#foreach( $field in $entity.fields )
${field.simpleType} ${field.name}#if( 0 < $entity.oneToOnes.size() || 0 < $entity.manyToOnes.size() || $velocityCount < $entity.fields.size() ), #end
#end
#foreach( $field in $entity.oneToOnes )	 
${field.type} ${field.name}#if( 0 < $entity.manyToOnes.size() || $velocityCount < $entity.manyToOnes.size() ), #end
#end
#foreach( $field in $entity.manyToOnes )	 
${field.type} ${field.name}#if( $velocityCount < $entity.manyToOnes.size() ), #end
#end);

#end
#end
}
