package ${daoBasePackage};

import java.io.Serializable;
import java.util.ArrayList;
import java.util.Collection;
import java.util.Date;
import java.util.List;
import java.util.Map;
import java.util.Properties;
import java.util.TreeMap;
import org.xml.sax.ContentHandler;
import org.xml.sax.SAXException;
import net.sf.mardao.core.CursorPage;
import net.sf.mardao.core.Filter;
import net.sf.mardao.core.dao.DaoImpl;
import net.sf.mardao.core.dao.TypeDaoImpl;
import net.sf.mardao.core.geo.DLocation;
import ${entity.className};
#foreach( $field in $entity.oneToOnes )
import ${field.entity.className};
#end
#foreach( $field in $entity.manyToOnes )
import ${field.entity.className};
#end
#foreach( $field in $entity.manyToManys )	 
import ${field.entity.className};
#end
##import net.sf.mardao.api.domain.PrimaryKeyEntity;

/**
 * The ${entity.simpleName} domain-object specific finders and methods go in this POJO.
 * 
 * Generated on ${currentDate}.
 * @author mardao DAO generator (${helper.class.name})
 */
public class Generated${entity.simpleName}DaoImpl extends TypeDaoImpl<${entity.simpleName}, ${entity.pk.type}> 
	implements Generated${entity.simpleName}Dao {

#foreach( $field in $entity.manyToOnes )
    /** DAO for Many-To-One relation ${field.name} */
    private Generated${field.entity.simpleName}DaoImpl ${field.name}Dao;
    /** Setter for Many-To-One ${field.name} DAO */
    public void set${helper.firstToUpper($field.name)}Dao(Generated${field.entity.simpleName}DaoImpl dao) {
        ${field.name}Dao = dao;
        MANY_TO_ONE_DAOS.put(COLUMN_NAME_${field.name.toUpperCase()}, dao);
    }
    /** Getter for Many-To-One ${field.name} DAO */
    protected Generated${field.entity.simpleName}DaoImpl get${helper.firstToUpper($field.name)}Dao() {
        return ${field.name}Dao;
    }
#end

    /** to list the property names for ManyToOne relations */
    @Override
    protected List<String> getBasicColumnNames() {
        return BASIC_NAMES;
    }

    /** to list the property names for ManyToOne relations */
    @Override
    protected List<String> getManyToOneColumnNames() {
        return MANY_TO_ONE_NAMES;
    }

    private final Map<String, DaoImpl> MANY_TO_ONE_DAOS = new TreeMap<String, DaoImpl>();

    /** Default constructor */
   public Generated${entity.simpleName}DaoImpl() {
      super(${entity.simpleName}.class, ${entity.pk.type}.class);
   }

   // ------ BEGIN DaoImpl overrides -----------------------------
   
   public String getPrimaryKeyColumnName() {
   		return COLUMN_NAME_${entity.pk.name.toUpperCase()};
   }
   
   public List<String> getColumnNames() {
        return COLUMN_NAMES;
   }

   @Override
   protected DaoImpl getManyToOneDao(String columnName) {
       return MANY_TO_ONE_DAOS.get(columnName);
   }

    @Override
    protected Object getDomainProperty(${entity.simpleName} domain, String name) {
        Object value;
#set( $field = $entity.pk )
        // simple key?
        if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            value = domain.get${field.nameFirst}();
        }
#if( $entity.parent )
#set( $field = $entity.parent )
        // parent key?
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            value = domain.get${field.nameFirst}();
        }
#end			
        // fields
#foreach( $field in $entity.fields )
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            value = domain.get${field.nameFirst}();
        }
#end
        // one-to-ones
#foreach( $field in $entity.oneToOnes )	 
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            value = domain.get${field.nameFirst}();
        }
#end
        // many-to-ones
#foreach( $field in $entity.manyToOnes )	 
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            final ${field.entity.className} foreign = domain.get${field.nameFirst}();
            final Object foreignKey = ${field.name}Dao.getPrimaryKey(foreign);
            value = foreignKey;
        }
#end
        // many-to-manys
#foreach( $field in $entity.manyToManys )	 
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            Collection<Object> ids = null;
            final Collection<${field.entity.simpleName}> foreigns = domain.get${field.nameFirst}();
            if (null != foreigns) {
                ids = new ArrayList<Object>();
                for (${field.entity.simpleName} f : foreigns) {
                    ids.add(f.get${field.entity.pk.nameFirst}());
                }
            }
            value = ids;
        }
#end
        else {
            value = super.getDomainProperty(domain, name);
        }

        return value;
    }

    /**
     * Returns the class of the domain property for specified column
     * @param name
     * @return the class of the domain property
     */
    public Class getColumnClass(String name) {
        Class clazz;
#set( $field = $entity.pk )
        // simple key?
        if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            clazz = ${field.type}.class;
        }
#if( $entity.parent )
#set( $field = $entity.parent )
        // parent key?
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            clazz = ${field.type}.class;
        }
#end			
        // fields
#foreach( $field in $entity.fields )
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            clazz = ${field.type}.class;
        }
#end
        // one-to-ones
#foreach( $field in $entity.oneToOnes )	 
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            clazz = ${field.entity.className}.class;
        }
#end
        // many-to-ones
#foreach( $field in $entity.manyToOnes )	 
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            clazz = ${field.entity.className}.class;
        }
#end
        // many-to-manys
#foreach( $field in $entity.manyToManys )	 
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            clazz = ${field.entity.className}.class;
        }
#end
        else {
            throw new IllegalArgumentException("No such column " + name);
        }

        return clazz;
    }
      
    @Override
    protected void setDomainProperty(final ${entity.simpleName} domain, final String name, final Object value) {
#set( $field = $entity.pk )
        // simple key?
        if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            domain.set${field.nameFirst}((${field.type}) value);
        }
#if( $entity.parent )
#set( $field = $entity.parent )
        // parent key?
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            domain.set${field.nameFirst}((${field.type}) value);
        }
#end			
        // fields
#foreach( $field in $entity.fields )
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            domain.set${field.nameFirst}((${field.type}) value);
        }
#end
        // one-to-ones
#foreach( $field in $entity.oneToOnes )	 
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            domain.set${field.nameFirst}((${field.type}) value);
        }
#end
        // many-to-ones
#foreach( $field in $entity.manyToOnes )	 
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            ${field.entity.simpleName} foreign = null;
            if (null != value) {
                try {
                    foreign = ${field.name}Dao.createDomain(value);
                } catch (InstantiationException ex) {
                    LOG.error("Creating foreign domain", ex);
                } catch (IllegalAccessException ex) {
                    LOG.error("Creating foreign domain", ex);
                }
            }
            domain.set${field.nameFirst}(foreign);
        }
#end
        // many-to-manys
#foreach( $field in $entity.manyToManys )	 
        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            final Collection<${field.entity.simpleName}> foreigns = new ArrayList<${field.entity.simpleName}>();
            if (null != value) {
                ${field.entity.simpleName} foreign;
                Collection<${field.entity.pk.type}> ids = (Collection<${field.entity.pk.type}>) value;
                for (${field.entity.pk.type} id : ids) {
                    foreign = new ${field.entity.simpleName}();
                    foreign.set${field.entity.pk.nameFirst}(id);
                    foreigns.add(foreign);
                }
            }
            domain.set${field.nameFirst}(foreigns);
        }
#end
        else {
            super.setDomainProperty(domain, name, value);
        }
    }

    @Override
    protected void setDomainStringProperty(final ${entity.simpleName} domain, final String name, final Map<String, String> properties) {
        final String value = properties.get(name);
        Class clazz = getColumnClass(name);
        // many-to-ones
#foreach( $field in $entity.manyToOnes )	 
        if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
            clazz = ${field.entity.pk.type}.class;
        }
#end
        setDomainProperty(domain, name, parseProperty(value, clazz));
    }

    /**
     * Overrides to substitute Entity properties with foreign keys
     */
    @Override
    protected void setCoreProperty(Object core, String name, Object value) {
        if (null == core || null == name) {
            return;
        }
        else if (null == value) {
            // do nothing in particular, will call super at end
        }
###foreach( $field in $entity.manyToOnes )	 
##        else if (COLUMN_NAME_${field.nameUpper}.equals(name)) {
##            // many-to-one: replace foreign entity with its primary key
##            ${field.entity.simpleName} foreign = (${field.entity.simpleName}) value;
##            value = ${field.nameLower}Dao.getPrimaryKey(foreign);
##        }
###end
        super.setCoreProperty(core, name, value);
    }

#if( $entity.parent )
#set( $field = $entity.parent )
    /** Default implementation returns null, overrides for ${field.name} parent */
    public String getParentKeyColumnName() {
        return COLUMN_NAME_${field.nameUpper};
    }

   // ------ END DaoImpl overrides -----------------------------

        public Object getParentKey(${entity.simpleName} domain) {
            return domain.get${field.nameFirst}();
        }

        public void setParentKey(${entity.simpleName} domain, Object ${field.name}) {
            domain.set${field.nameFirst}((Serializable) ${field.name});
        }

	// ----------------------- parent finders -------------------------------

	/**
	 * query-by method for parent field ${field.name}
	 * @param ${field.name} the specified attribute
	 * @return an Iterable of ${entity.simpleName}s for the specified parent
	 */
	public final Iterable<${entity.simpleName}> queryBy${helper.firstToUpper($field.name)}(Object ${field.name}) {
            return queryIterable(false, 0, -1, ${field.name}, null, null, false, null, false);
	}
	
	/**
	 * query-key-by method for parent field ${field.name}
	 * @param ${field.name} the parent
	 * @return an Iterable of keys to the ${entity.simpleName}s with the specified parent
	 */
	public final Iterable<${entity.pk.type}> queryKeysBy${helper.firstToUpper($field.name)}(Object ${field.name}) {
            return queryIterableKeys(0, -1, ${field.name}, null, null, false, null, false);
	}

	/**
	 * query-page-by method for parent field ${field.name}
	 * @param ${field.name} the specified parent
         * @param pageSize the number of domain entities in the page
         * @param cursorString non-null if get next page
	 * @return a Page of ${entity.simpleName}s for the specified ${field.name}
	 */
	public final CursorPage<${entity.simpleName}, ${entity.pk.type}> queryPageBy${helper.firstToUpper($field.name)}(${field.type} ${field.name},
            int pageSize, String cursorString) {
            return queryPage(false, pageSize, ${field.name}, null, null, false, null, false, cursorString);
        }

#else
   // ------ END DaoImpl overrides -----------------------------

        // ${entity.simpleName} has no parent
#end

#set( $field = $entity.pk )
        /**
         * @return the simple key for specified ${entity.simpleName} domain object
         */
        public ${field.simpleType} getSimpleKey(${entity.simpleName} domain) {
            if (null == domain) {
                return null;
            }
            return domain.get${field.nameFirst}();
        }

        /**
         * @return the simple key for specified ${entity.simpleName} domain object
         */
        public void setSimpleKey(${entity.simpleName} domain, ${field.simpleType} ${field.name}) {
            domain.set${field.nameFirst}(${field.name});
        }
#if( $entity.createdBy )
#set( $field = $entity.createdBy )

        public String getCreatedByColumnName() {
            return COLUMN_NAME_${field.nameUpper};
        }

        public String getCreatedBy(${entity.simpleName} domain) {
            if (null == domain) {
                return null;
            }
            return domain.get${field.nameFirst}();
        }

        public void _setCreatedBy(${entity.simpleName} domain, String creator) {
            domain.set${field.nameFirst}(creator);
        }
#end
#if( $entity.updatedBy )
#set( $field = $entity.updatedBy )

        public String getUpdatedByColumnName() {
            return COLUMN_NAME_${field.nameUpper};
        }

        public String getUpdatedBy(${entity.simpleName} domain) {
            if (null == domain) {
                return null;
            }
            return domain.get${field.nameFirst}();
        }

        public void _setUpdatedBy(${entity.simpleName} domain, String updator) {
            domain.set${field.nameFirst}(updator);
        }
#end
#if( $entity.createdDate )
#set( $field = $entity.createdDate )

        public String getCreatedDateColumnName() {
            return COLUMN_NAME_${field.nameUpper};
        }

        public Date getCreatedDate(${entity.simpleName} domain) {
            if (null == domain) {
                return null;
            }
            return domain.get${field.nameFirst}();
        }

        public void _setCreatedDate(${entity.simpleName} domain, Date date) {
            domain.set${field.nameFirst}(date);
        }
#end
#if( $entity.updatedDate )
#set( $field = $entity.updatedDate )

        public String getUpdatedDateColumnName() {
            return COLUMN_NAME_${field.nameUpper};
        }

        public Date getUpdatedDate(${entity.simpleName} domain) {
            if (null == domain) {
                return null;
            }
            return domain.get${field.nameFirst}();
        }

        public void _setUpdatedDate(${entity.simpleName} domain, Date date) {
            domain.set${field.nameFirst}(date);
        }
#end
#if( $entity.geoLocation )
#set( $field = $entity.geoLocation )

        public String getGeoLocationColumnName() {
            return COLUMN_NAME_${field.nameUpper};
        }

        public DLocation getGeoLocation(${entity.simpleName} domain) {
            if (null == domain) {
                return null;
            }
            return domain.get${field.nameFirst}();
        }
##
##        public void _setGeoLocation(${entity.simpleName} domain, DLocation geoLocation) {
##            domain.set${field.nameFirst}(geoLocation);
##        }
#end

	// ----------------------- field finders -------------------------------
#foreach( $field in $entity.fields )
#if( $field.type == 'java.util.Collection' )
#set( $fieldType = 'java.lang.Object' )
#else
#set( $fieldType = $field.type )
#end
#if( $entity.isUnique($field.name) )
	/**
	 * find-by method for unique attribute field ${field.name}
	 * @param ${field.name} the unique attribute
	 * @return the unique ${entity.simpleName} for the specified attribute
	 */
	public final ${entity.simpleName} findBy${helper.firstToUpper($field.name)}(${fieldType} ${field.name}) {
                Filter filter = createEqualsFilter(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name});
		return findUniqueBy(filter);
	}

	/**
	 * find-key-by method for unique attribute field ${field.name}
	 * @param ${field.name} the unique attribute
	 * @return the unique ${entity.simpleName} for the specified attribute
	 */
	public final ${entity.pk.type} findKeyBy${helper.firstToUpper($field.name)}(${fieldType} ${field.name}) {
                Filter filter = createEqualsFilter(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name});
		return findUniqueKeyBy(filter);
	}
#else
	/**
         * {@inheritDoc}
##	 * query-by method for attribute field ${field.name}
##	 * @param ${field.name} the specified attribute
##	 * @return an Iterable of ${entity.simpleName}s with the specified attribute
	 */
	public final Iterable<${entity.simpleName}> queryBy${helper.firstToUpper($field.name)}(${fieldType} ${field.name}) {
            final Filter filter = createEqualsFilter(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name});
            return queryIterable(false, 0, -1, null, null, null, false, null, false, filter);
	}
	
	/**
	 * query-key-by method for attribute field ${field.name}
	 * @param ${field.name} the specified attribute
	 * @return an Iterable of keys to the ${entity.simpleName}s with the specified attribute
	 */
	public final Iterable<${entity.pk.type}> queryKeysBy${helper.firstToUpper($field.name)}(${fieldType} ${field.name}) {
            final Filter filter = createEqualsFilter(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name});
            return queryIterableKeys(0, -1, null, null, null, false, null, false, filter);
	}

	/**
	 * query-page-by method for field ${field.name}
	 * @param ${field.name} the specified attribute
         * @param pageSize the number of domain entities in the page
         * @param cursorString non-null if get next page
	 * @return a Page of ${entity.simpleName}s for the specified ${field.name}
	 */
	public final CursorPage<${entity.simpleName}, ${entity.pk.type}> queryPageBy${helper.firstToUpper($field.name)}(${fieldType} ${field.name},
            int pageSize, String cursorString) {
            final Filter filter = createEqualsFilter(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name});
            return queryPage(false, pageSize, null, null, null, false, null, false, cursorString, filter);
        }

#end	
	 
#end	
	// ----------------------- one-to-one finders -------------------------
#foreach( $field in $entity.oneToOnes )
#set( $foreign = $entities.get($field.type))
	/**
	 * find-by method for one-to-one field ${field.name}
	 * @param ${field.name} the related ${field.type} entity
	 * @return the ${entity.simpleName} belonging to the one-to-one relation
	 */
	public final ${entity.simpleName} findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name}) {
		return findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${field.name}.get${helper.firstToUpper($field.entity.pk.name)}());
	}
	
#if( $foreign )  
	/**
	 * find-by method for one-to-one field ${field.name}
	 * @param ${foreign.pk.name} the related ${field.type} entity's primary key
	 * @return the ${entity.simpleName} belonging to the one-to-one relation
	 */
	public final ${entity.simpleName} findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${foreign.pk.type} ${foreign.pk.name}) {
		return findUniqueBy(COLUMN_NAME_${field.name.toUpperCase()}, ${foreign.pk.name});
	}	
#end	
	
#end	

	// ----------------------- many-to-one finders -------------------------
#foreach( $field in $entity.manyToOnes )
#set( $foreign = $entities.get($field.type))
	/**
	 * query-by method for many-to-one field ${field.name}
	 * @param ${field.name} the id of the related ${field.type} entity
	 * @return an Iterable of ${entity.simpleName}s belonging to the many-to-one relation
	 */
	public final Iterable<${entity.simpleName}> queryBy${field.nameFirst}(${field.type} ${field.name}) {
##		return findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${field.name}.get${helper.firstToUpper($field.entity.pk.name)}());
            final Object foreignKey = ${field.name}Dao.getPrimaryKey(${field.name});
            final Filter filter = createEqualsFilter(COLUMN_NAME_${field.name.toUpperCase()}, foreignKey);
            return queryIterable(false, 0, -1, null, null, null, false, null, false, filter);
	}

	/**
	 * query-page-by method for many-to-one field ${field.name}
	 * @param ${field.name} the related ${field.type} entity
         * @param pageSize the number of domain entities in the page
         * @param cursorString non-null if get next page
	 * @return a CursorPage of ${entity.simpleName}s belonging to the many-to-one relation
	 */
	public final CursorPage<${entity.simpleName}, ${entity.pk.type}> queryPageBy${field.nameFirst}(${field.type} ${field.name},
                int pageSize, String cursorString) {
            final Object foreignKey = ${field.name}Dao.getPrimaryKey(${field.name});
            final Filter filter = createEqualsFilter(COLUMN_NAME_${field.name.toUpperCase()}, foreignKey);
            return queryPage(false, pageSize, null, null, null, false, null, false, cursorString, filter);
        }

	/**
	 * query-key-by method for many-to-one field ${field.name}
	 * @param ${field.name} the specified attribute
         * @since 2.3.2
	 * @return an Iterable of keys to the ${entity.simpleName}s with the specified attribute
	 */
	public final Iterable<${entity.pk.type}> queryKeysBy${helper.firstToUpper($field.name)}(${field.type} ${field.name}) {
            final Object foreignKey = ${field.name}Dao.getPrimaryKey(${field.name});
            final Filter filter = createEqualsFilter(COLUMN_NAME_${field.name.toUpperCase()}, foreignKey);
            return queryIterableKeys(0, -1, null, null, null, false, null, false, filter);
	}

#if( $foreign )  
	/**
	 * query-by method for many-to-one field ${field.name}
	 * @param ${foreign.pk.name} the related ${field.type} entity's simple key
	 * @return an Iterable of ${entity.simpleName}s belonging to the many-to-one relation
	 */
	public final Iterable<${entity.simpleName}> queryBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${foreign.pk.type} ${foreign.pk.name}) {
            final Object foreignKey = ${field.name}Dao.getPrimaryKey(null, ${foreign.pk.name});
            final Filter filter = createEqualsFilter(COLUMN_NAME_${field.name.toUpperCase()}, foreignKey);
            return queryIterable(false, 0, -1, null, null, null, false, null, false, filter);
	}

	/**
	 * query-keys-by method for many-to-one field ${field.name}
	 * @param ${foreign.pk.name} the related ${field.type} entity's simple key
	 * @return an Iterable of ${entity.pk.type} keys belonging to the many-to-one relation
	 */
	public final Iterable<${entity.pk.type}> queryKeysBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${foreign.pk.type} ${foreign.pk.name}) {
            final Object foreignKey = ${field.name}Dao.getPrimaryKey(null, ${foreign.pk.name});
            final Filter filter = createEqualsFilter(COLUMN_NAME_${field.name.toUpperCase()}, foreignKey);
            return queryIterableKeys(0, -1, null, null, null, false, null, false, filter);
	}

#end	
	
#end	

	// ----------------------- many-to-many finders -------------------------
#foreach( $field in $entity.manyToManys )
#set( $foreign = $field.entity )
	/**
	 * find-by method for many-to-many field ${field.name}
	 * @param ${field.name} the related ${field.type} entity
	 * @return an Iterable of ${entity.simpleName}s belonging to the many-to-many relation
	 */
	public final Iterable<${entity.simpleName}> queryBy${helper.firstToUpper($field.name)}(${foreign.className} foreign) {
		return queryBy${field.nameFirst}${foreign.pk.nameFirst}(foreign.get${foreign.pk.nameFirst}());
	}
	
	/**
	 * find-by method for many-to-many field ${field.name}
	 * @param ${foreign.pk.type} the related ${field.type} entity's primary key
	 * @return an Iterable of ${entity.simpleName}s belonging to the many-to-many relation
	 */
	public final Iterable<${entity.simpleName}> queryBy${field.nameFirst}${foreign.pk.nameFirst}(${foreign.pk.type} ${foreign.pk.name}) {
		// FIXME: implement properly
            throw new UnsupportedOperationException("Not supported yet.");
//		return findByManyToMany("${entity.pk.name}", // primaryKeyName
#if( $field.mappedBy )		 
//			"${field.mappedBy}_${entity.pk.name}", // this side's column in the join table (mappedBy="${field.mappedBy}")
#else
#set( $relatedField = $foreign.mappedBy.get($field.name) )
//			"${helper.firstToLower($relatedField.name)}_${entity.pk.name}", // this side's column in the join table  
#end
//			"${field.simpleType}", // related entity class simple name
//			"${field.name}_${foreign.pk.name}", // the related side's column in the join table
//			${foreign.pk.name}); 			 
	}
	
#end

	// ----------------------- uniqueFields finders -------------------------
#foreach( $uniqueFields in $entity.uniqueFieldsSets )
	/**
	 * find-by method for unique attributes
#foreach( $field in $uniqueFields )	 
	 * @param ${field.name} the specified ${field.name}
#end	 
	 * @return the unique ${entity.simpleName} for the specified fields
	 */
	public final ${entity.simpleName} findBy#foreach( $field in $uniqueFields )
${helper.firstToUpper($field.name)}#end(#foreach( $field in $uniqueFields )
${field.type} ${field.name}#if( $velocityCount < $uniqueFields.size() ), #end
#end) {
		final Filter[] filters = new Filter[$uniqueFields.size()];
                int i = 0;
#foreach( $field in $uniqueFields )
                filters[i++] = createEqualsFilter(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name});
#end
		return findUniqueBy(filters);
	}
#end

	// ----------------------- populate / persist method -------------------------

	/**
	 * Persist an entity given all attributes
	 */
	public ${entity.simpleName} persist(#if( $entity.parent )
Object ${entity.parent.name},  	
#end		${entity.pk.type} ${entity.pk.name}#foreach( $field in $entity.fields )	 
#if( $field != $entity.createdBy && $field != $entity.createdDate && $field != $entity.updatedBy && $field != $entity.updatedDate ), 
		${field.type} ${field.name}#end#end
#foreach( $field in $entity.oneToOnes ), 
		${field.type} ${field.name}#end
#foreach( $field in $entity.manyToOnes ), 
		${field.type} ${field.name}#end) {

            ${entity.simpleName} domain = null;
            // if primaryKey specified, use it
            if (null != ${entity.pk.name}) {
                    domain = findByPrimaryKey(#if( $entity.parent )
${entity.parent.name}, #end${entity.pk.name});
            }
		
#if( 0 < $entity.uniqueFieldsSets.size() )
#set( $uniqueFields = $entity.uniqueFieldsSets.get(0) )
            // use find-by unique column set
            if (null == domain) {
                domain = findBy#foreach( $field in $uniqueFields )${field.nameFirst}#end(
#foreach( $field in $uniqueFields )
                    ${field.name}#if( $velocityCount < $uniqueFields.size() ), #end
#end);
            }
#end		
            // create new?
            if (null == domain) {
                    domain = new ${entity.simpleName}();
#if( $entity.parent )
                    // set parent
                    domain.set${helper.firstToUpper($entity.parent.name)}((${entity.parent.type}) ${entity.parent.name});
#end			
                    // generate Id?
                    if (null != ${entity.pk.name}) {
                            domain.set${helper.firstToUpper($entity.pk.name)}(${entity.pk.name});
                    }
                    // fields
#foreach( $field in $entity.fields )
#if( $field != $entity.createdBy && $field != $entity.createdDate && $field != $entity.updatedBy && $field != $entity.updatedDate )
                    domain.set${helper.firstToUpper($field.name)}(${field.name});
#end
#end
                    // one-to-ones
#foreach( $field in $entity.oneToOnes )	 
                    domain.set${helper.firstToUpper($field.name)}(${field.name});
#end
                    // many-to-ones
#foreach( $field in $entity.manyToOnes )	 
                    domain.set${helper.firstToUpper($field.name)}(${field.name});
#end
			
                    persist(domain);
            }
            return domain;
	}


#if( $persistenceType != "JPA" )
#if( $entity.firstUniqueField )
#set( $uniqueField = $entity.firstUniqueField )
	/**
	 * Persists an entity unless it already exists
	 */
	public ${entity.simpleName} persist(${uniqueField.type} ${uniqueField.name}#foreach( $field in $entity.fields )
#if( $field != $uniqueField && $field != $entity.createdBy && $field != $entity.createdDate && $field != $entity.updatedBy && $field != $entity.updatedDate ), 
                ${field.type} ${field.name}#end#end
#foreach( $field in $entity.oneToOnes )
#if( $field != $uniqueField),	 
                ${field.type} ${field.name}#end#end
#foreach( $field in $entity.manyToOnes )
#if( $field != $uniqueField),	 
                ${field.type} ${field.name}#end#end) {
            ${entity.simpleName} domain = findBy${helper.firstToUpper($uniqueField.name)}(${uniqueField.name});
            if (null == domain) {
                domain = new ${entity.simpleName}();
#foreach( $field in $entity.fields )
#if( $field != $entity.createdBy && $field != $entity.createdDate && $field != $entity.updatedBy && $field != $entity.updatedDate )
                domain.set${helper.firstToUpper($field.name)}(${field.name});
#end#end
#foreach( $field in $entity.oneToOnes )	 
                domain.set${helper.firstToUpper($field.name)}(${field.name});
#end
#foreach( $field in $entity.manyToOnes )	 
                domain.set${helper.firstToUpper($field.name)}(${field.name});
#end
                persist(domain);
            }
            return domain;
	}

#end
#end

}
