<?xml version="1.0" encoding="UTF-8" ?>
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
	<jsp:include page="header.jsp">
		<jsp:param name="headTitle" value="${entity.simpleName} List" />
		<jsp:param name="headBreadcrumbHome" value="Home" />
		<jsp:param name="headBreadcrumbHref" value="/" />
		<jsp:param name="headBreadcrumbText" value="${entity.simpleName} list" />
    </jsp:include>
	<h1 class="mardaoH1">${entity.simpleName} list</h1>
	<table class="mardaoTable">
		<thead class="mardaoTH">
			<tr class="mardaoTHtr,mardaoTR">
				<th class="mardaoTHth">${entity.pk.name}</th>
#foreach( $field in $entity.fields )
		        <th class="mardaoTHth">${field.name}</th>
#end
			</tr>
		</thead>
		<tbody class="mardaoTB">
			<c:forEach items="${ESC}{list}" var="item">
			<tr class="mardaoTR">
				<td class="mardaoTD"><a href="${ESC}{item.${entity.pk.name}}/" class="mardaoA">${ESC}{item.${entity.pk.name}}</a></td>
#foreach( $field in $entity.fields )
				<td class="mardaoTD">${ESC}{item.${field.name}}</td>
#end
			</tr>
			</c:forEach>
		</tbody>
		<tfoot class="mardaoTF">
			<tr class="mardaoTFtr,mardaoTR">
                <td class="mardaoTFtd,mardaoTF"><form method="get" action="create.html">
						<input class="mardaoSubmit" type="submit" value="Create ${entity.simpleName}" />
				</form></td>
            </tr>
        </tfoot>
	</table>
	<jsp:include page="footer.jsp">
		<jsp:param name="headTitle" value="${entity.simpleName} List" />
    </jsp:include>
