<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

	<!-- EntityManagerFactory is managed by the container. -->

	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="persist*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="*" propagation="SUPPORTS" read-only="true"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* *net.sf.mardao.test.basic.dao.JPAHelper.*(..))"/>
	</aop:config>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<bean id="daoProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location"><ref bean="propertyUrlResource"/></property>
	</bean>

	<!-- ============== DataSource and Incrementors ============ -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${dao.driver.classname}" />
		<property name="url" value="${dao.connection.url}" />
		<property name="username" value="${dao.connection.username}" />
		<property name="password" value="${dao.connection.password}" />
		<property name="validationQuery" value="${dao.connection.validationQuery}" />
	</bean>
	<bean id="daoIncrementerMYSQL" class="org.springframework.jdbc.support.incrementer.MySQLMaxValueIncrementer">
		<property name="dataSource" ref="dataSource" />
		<property name="incrementerName" value="id_sequence" />
		<property name="columnName" value="highest" />
	</bean>
	<!-- disable, as above is autowired by type into Helpers
	<bean id="daoIncrementerORACLE" class="org.springframework.jdbc.support.incrementer.OracleSequenceMaxValueIncrementer">
		<property name="dataSource" ref="dataSource" />
		<property name="incrementerName" value="id_sequence" />
	</bean>
	-->

	<!-- ============== DaoBeans for entities in package net.sf.mardao.test.basic.domain ============ -->
	<bean id="organizationDao" class="net.sf.mardao.test.basic.dao.OrganizationDaoBean" autowire="constructor">
		<property name="helper">
			<ref local="organizationHelper"/>
      </property>
   </bean>
	<bean id="organizationHelper" class="net.sf.mardao.test.basic.dao.OrganizationSpringHelper" 
     	autowire="byType" init-method="checkTables" depends-on="" />
	
	<bean id="organizationUnitDao" class="net.sf.mardao.test.basic.dao.OrganizationUnitDaoBean" autowire="constructor">
		<property name="helper">
			<ref local="organizationUnitHelper"/>
      </property>
   </bean>
	<bean id="organizationUnitHelper" class="net.sf.mardao.test.basic.dao.OrganizationUnitSpringHelper" 
     	autowire="byType" init-method="checkTables" depends-on="organizationHelper " />
	
	<bean id="employeeDao" class="net.sf.mardao.test.basic.dao.EmployeeDaoBean" autowire="constructor">
		<property name="helper">
			<ref local="employeeHelper"/>
      </property>
   </bean>
	<bean id="employeeHelper" class="net.sf.mardao.test.basic.dao.EmployeeSpringHelper" 
     	autowire="byType" init-method="checkTables" depends-on="organizationHelper organizationUnitHelper " />
	
	<bean id="statusDao" class="net.sf.mardao.test.basic.dao.StatusDaoBean" autowire="constructor">
		<property name="helper">
			<ref local="statusHelper"/>
      </property>
   </bean>
	<bean id="statusHelper" class="net.sf.mardao.test.basic.dao.StatusSpringHelper" 
     	autowire="byType" init-method="checkTables" depends-on="employeeHelper " />
	
	

</beans>