<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<!-- EntityManagerFactory is managed by the container. -->

<!-- {net.sf.mardao.test.basic.domain=net.sf.mardao.domain.Group@51282707} -->
<!-- [net.sf.mardao.domain.Group@51282707] -->
	<!-- ============== DaoBeans for entities in package net.sf.mardao.test.basic.domain ============ -->
	<bean id="organizationDao" class="net.sf.mardao.test.basic.dao.OrganizationDaoBean">
		<property name="helper">
			<bean class="net.sf.mardao.test.basic.dao.OrganizationSpringHelper" autowire="byName" />
		</property>
	</bean>
	<bean id="employeeDao" class="net.sf.mardao.test.basic.dao.EmployeeDaoBean">
		<property name="helper">
			<bean class="net.sf.mardao.test.basic.dao.EmployeeSpringHelper" autowire="byName" />
		</property>
	</bean>
	

</beans>