package ${daoBasePackage};

import java.io.Serializable;
import java.sql.ResultSet;
import java.sql.SQLException;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import javax.sql.DataSource;

import net.sf.mardao.api.dao.JDBCDaoImpl;
import net.sf.mardao.api.jdbc.Entity;

import ${entity.className};
#foreach( $field in $entity.oneToOnes )
import ${field.entity.className};
#end
#foreach( $field in $entity.manyToOnes )
import ${field.entity.className};
#end

import org.springframework.jdbc.core.simple.ParameterizedRowMapper;
import org.springframework.jdbc.core.simple.SimpleJdbcInsert;
import org.springframework.jdbc.support.incrementer.DataFieldMaxValueIncrementer;

/**
 * Concrete class without generics, for Spring container instatiation.
 */
public class Generated${entity.simpleName}DaoImpl 
#if( $entity.parent )
        extends JDBCDaoImpl<${entity.simpleName}, ${entity.pk.type}, ${entity.parent.type}> 
	implements Generated${entity.simpleName}Dao<${entity.parent.type}, ${entity.pk.type}> {
#else
        extends JDBCDaoImpl<${entity.simpleName}, ${entity.pk.type}, Serializable> 
	implements Generated${entity.simpleName}Dao<Serializable, ${entity.pk.type}> {
#end

	/** Table name for ${entity.simpleName} is "${entity.tableName}" */
	public static final String TABLE_NAME = "${entity.tableName}";

#foreach( $field in $entity.manyToOnes )
    /** DAO for Many-To-One relation ${field.name} */
    private Generated${field.entity.simpleName}DaoImpl ${field.name}Dao;
	/** Setter for Many-To-One ${field.name} DAO */
	public void set${helper.firstToUpper($field.name)}Dao(Generated${field.entity.simpleName}DaoImpl dao) {
		${field.name}Dao = dao;
	}
#end
	
	
	/** Default Constructor */
   public Generated${entity.simpleName}DaoImpl() {
      super(${entity.simpleName}.class);
   }
   
   @Override
   protected SimpleJdbcInsert createJdbcInsert(DataSource dataSource) {
        // create the JDBC insert with specific columns and table name:
		this.insert = new SimpleJdbcInsert(dataSource)
			.withTableName(getTableName())
			.usingColumns(COLUMN_NAME_${entity.pk.name.toUpperCase()}#foreach( $field in $entity.fields )
, COLUMN_NAME_${field.name.toUpperCase()}#end
#foreach( $field in $entity.oneToOnes )
, COLUMN_NAME_${field.name.toUpperCase()}#end
#foreach( $field in $entity.manyToOnes )
, COLUMN_NAME_${field.name.toUpperCase()}#end);
       return insert;
   }
   
   public String getTableName() {
   		return TABLE_NAME;
   }
   
   public String getPrimaryKeyColumnName() {
   		return COLUMN_NAME_${entity.pk.name.toUpperCase()};
   }
   
   public List<String> getColumnNames() {
        return COLUMN_NAMES;
   }
   
	/** Mapper for the ${entity.simpleName} row retrieval */
	private static final ParameterizedRowMapper<${entity.simpleName}> MAPPER = 
		new ParameterizedRowMapper<${entity.simpleName}>() {
		public ${entity.simpleName} mapRow(ResultSet rs, int rowNum) throws SQLException {
			final ${entity.simpleName} entity = new ${entity.simpleName}();
#set( $field = $entity.pk )
			entity.set${helper.firstToUpper($field.name)}(rs.get${helper.firstToUpper($field.simpleType)}(COLUMN_NAME_${field.name.toUpperCase()}));
#foreach( $field in $entity.fields )
#if( $field.simpleType == "Date" )
			entity.set${helper.firstToUpper($field.name)}(rs.getTimestamp(COLUMN_NAME_${field.name.toUpperCase()}));
#elseif( $field.simpleType == "Integer")
			entity.set${helper.firstToUpper($field.name)}(rs.getInt(COLUMN_NAME_${field.name.toUpperCase()}));
#else
			entity.set${helper.firstToUpper($field.name)}(rs.get${helper.firstToUpper($field.simpleType)}(COLUMN_NAME_${field.name.toUpperCase()}));
#end			
#end			
#foreach( $field in $entity.oneToOnes )

			// one-to-one ${field.name}:
			final ${field.entity.pk.simpleType} ${field.name}${helper.firstToUpper($field.entity.pk.name)} = rs.get${helper.firstToUpper($field.entity.pk.simpleType)}(COLUMN_NAME_${field.name.toUpperCase()});
			if (null != ${field.name}${helper.firstToUpper($field.entity.pk.name)}) {
    			final ${field.entity.simpleName} ${field.name} = new ${field.entity.simpleName}();
    			${field.name}.set${helper.firstToUpper($field.entity.pk.name)}(${field.name}${helper.firstToUpper($field.entity.pk.name)});
				entity.set${helper.firstToUpper($field.name)}(${field.name});
			}
#end
#foreach( $field in $entity.manyToOnes )

			// many-to-one ${field.name}:
			final ${field.entity.pk.simpleType} ${field.name}${helper.firstToUpper($field.entity.pk.name)} = rs.get${helper.firstToUpper($field.entity.pk.simpleType)}(COLUMN_NAME_${field.name.toUpperCase()});
			if (null != ${field.name}${helper.firstToUpper($field.entity.pk.name)}) {
    			final ${field.entity.simpleName} ${field.name} = new ${field.entity.simpleName}();
    			${field.name}.set${helper.firstToUpper($field.entity.pk.name)}(${field.name}${helper.firstToUpper($field.entity.pk.name)});
				entity.set${helper.firstToUpper($field.name)}(${field.name});
			}
#end

			return entity;			
		}
	};
	protected final ParameterizedRowMapper<${entity.simpleName}> getRowMapper() {
		return MAPPER;
	}
	
	
   // ------ DaoImpl overrides -----------------------------
   
    /** Convert from core key type to domain primary key type, trivial for JDBC */
   protected ${entity.pk.type} convert(${entity.pk.type} core) {
        return core;
   }
   
    @Override
   protected Entity createEntity(${entity.pk.type} primaryKey) {
		final Entity parameters = new Entity();
		parameters.put(getPrimaryKeyColumnName(), primaryKey);
		
		return parameters;
   }

    @Override
   protected Entity createEntity(${entity.simpleName} domain) {
		final Entity parameters = createEntity(domain.getPrimaryKey());
		
		// properties
#foreach( $field in $entity.fields )
		parameters.put(COLUMN_NAME_${field.name.toUpperCase()}, domain.get${helper.firstToUpper($field.name)}());
#end

		// one-to-one keys:
#foreach( $field in $entity.oneToOnes )
		final ${field.type} ${field.name} = domain.get${helper.firstToUpper($field.name)}();
		if (null != ${field.name}) {
			parameters.put(COLUMN_NAME_${field.name.toUpperCase()}, toForeignKey(${field.name}.get${helper.firstToUpper($field.entity.pk.name)}()));
		}
#end

		// many-to-one keys:
#foreach( $field in $entity.manyToOnes )
		final ${field.type} ${field.name} = domain.get${helper.firstToUpper($field.name)}();
		if (null != ${field.name}) {
			parameters.put(COLUMN_NAME_${field.name.toUpperCase()}, toForeignKey(${field.name}.get${helper.firstToUpper($field.entity.pk.name)}()));
		}
#end
		
		return parameters;
   }

   protected void populate(Entity entity, Map<String, Object> nameValuePairs) {
		// TODO: is anything needed here for JDBC?
#foreach( $field in $entity.fields )
	// TODO: ${field.name}
#end

		// one-to-one keys:
#foreach( $field in $entity.oneToOnes )
	// TODO: ${field.name}
#end

		// many-to-one keys:
#foreach( $field in $entity.manyToOnes )
	// TODO: ${field.name}
#end

   }
   
#if( $entity.parent )
#set( $field = $entity.parent )

	// ----------------------- parent finders -------------------------------
	/**
	 * find-by method for parent field ${field.name}
	 * @param ${field.name} the specified attribute
	 * @return a List of ${entity.simpleName}s with the specified parent
	 */
	public final List<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name}) {
	    return findByParent(${field.name});
	}

	public final List<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}(Object ${field.name}) {
		return findByParent((${field.type}) ${field.name});
	}
	
	/**
	 * find-by method for parent field ${field.name}
	 * @param ${field.name} the specified attribute
	 * @return a List of ${entity.simpleName}s with the specified parent
	 */
	public final List<${entity.pk.type}> findKeysBy${helper.firstToUpper($field.name)}(${field.type} ${field.name}) {
		return findKeysByParent(${field.name});
	}
	
#end   

        @Override
        protected final void persistUpdateKeys(${entity.simpleName} domain, ${entity.pk.type} core) {
            domain.set${helper.firstToUpper($entity.pk.name)}(core);
	}
	
	// ----------------------- field finders -------------------------------
#foreach( $field in $entity.fields )
#if( $entity.isUnique($field.name) )
	/**
	 * find-by method for unique attribute field ${field.name}
	 * @param ${field.name} the unique attribute
	 * @return the unique ${entity.simpleName} for the specified attribute
	 */
	public final ${entity.simpleName} findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name}) {
		return findUniqueBy(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name});
	}
#else
	/**
	 * find-by method for attribute field ${field.name}
	 * @param ${field.name} the specified attribute
	 * @return a List of ${entity.simpleName}s with the specified attribute
	 */
	public final List<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name}) {
		return findBy(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name});
	}
	
	/**
	 * find-primary-key-by method for attribute field ${field.name}
	 * @param ${field.name} the specified attribute
	 * @return a List of keys to the ${entity.simpleName}s with the specified attribute
	 */
	public final List<${entity.pk.type}> findKeysBy${helper.firstToUpper($field.name)}(${field.type} ${field.name}) {
		return findKeysBy(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name});
	}
#end	
	 
#end	
		  
	// ----------------------- one-to-one finders -------------------------
#foreach( $field in $entity.oneToOnes )
#set( $foreign = $entities.get($field.type))
	/**
	 * find-by method for one-to-one field ${field.name}
	 * @param ${field.name} the related ${field.type} entity
	 * @return the ${entity.simpleName} belonging to the one-to-one relation
	 */
	public final ${entity.simpleName} findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name}) {
		return findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${field.name}.get${helper.firstToUpper($field.entity.pk.name)}());
	}
	
#if( $foreign )  
	/**
	 * find-by method for one-to-one field ${field.name}
	 * @param ${foreign.pk.name} the related ${field.type} entity's primary key
	 * @return the ${entity.simpleName} belonging to the one-to-one relation
	 */
	public final ${entity.simpleName} findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${foreign.pk.type} ${foreign.pk.name}) {
		return findUniqueBy(COLUMN_NAME_${field.name.toUpperCase()}, ${foreign.pk.name});
	}	
#end	
	
#end	

	// ----------------------- many-to-one finders -------------------------
#foreach( $field in $entity.manyToOnes )
#set( $foreign = $entities.get($field.type))
	/**
	 * find-by method for many-to-one field ${field.name}
	 * @param ${field.name} the related ${field.type} entity
	 * @return a List of ${entity.simpleName}s belonging to the many-to-one relation
	 */
	public final List<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name}) {
		return findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${field.name}.get${helper.firstToUpper($field.entity.pk.name)}());
	}
	
#if( $foreign )  
	/**
	 * find-by method for many-to-one field ${field.name}
	 * @param ${foreign.pk.name} the related ${field.type} entity's primary key
	 * @return a List of ${entity.simpleName}s belonging to the many-to-one relation
	 */
	public final List<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}Key(Key ${field.name}Key) {
		return findBy(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name}Key);
	}	

	/**
	 * find-by method for many-to-one field ${field.name}
	 * @param ${foreign.pk.name} the related ${field.type} entity's primary key
	 * @return a List of ${entity.simpleName}s belonging to the many-to-one relation
	 */
	public final List<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${foreign.pk.type} ${foreign.pk.name}) {
		return findByKey(COLUMN_NAME_${field.name.toUpperCase()}, ${field.type}.class, ${foreign.pk.name});
	}	
#end	
	
#end	

	// ----------------------- many-to-many finders -------------------------
#foreach( $field in $entity.manyToManys )
#if( $entities.get($field.type) )  
#set( $foreign = $entities.get($field.type))
	/**
	 * find-by method for many-to-many field ${field.name}
	 * @param ${field.name} the related ${field.type} entity
	 * @return a List of ${entity.simpleName}s belonging to the many-to-many relation
	 */
	public final List<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}(${field.type} ${field.name}) {
#if( $persistenceType == "JPA" )
      return findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${field.name}.get${helper.firstToUpper($foreign.pk.name)}());
#else
		return findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${field.name}.get${helper.firstToUpper($foreign.pk.name)}());
#end
	}
	
	/**
	 * find-by method for many-to-many field ${field.name}
	 * @param ${foreign.pk.type} the related ${field.type} entity's primary key
	 * @return a List of ${entity.simpleName}s belonging to the many-to-many relation
	 */
	public final List<${entity.simpleName}> findBy${helper.firstToUpper($field.name)}${helper.firstToUpper($foreign.pk.name)}(${foreign.pk.type} ${foreign.pk.name}) {
#if( $persistenceType == "JPA" )

      return findByManyToMany("${entity.pk.name}",
                                         "${field.name}_${foreign.pk.name}",
                                         "${field.simpleType}",
                                         "${field.mappedBy}_${entity.pk.name}",
                                         ${foreign.pk.name});
#else
		// FIXME: implement properly
		return findByManyToMany("${entity.pk.name}", // primaryKeyName
#if( $field.mappedBy )		 
			"${field.mappedBy}_${entity.pk.name}", // this side's column in the join table (mappedBy="${field.mappedBy}")
#else
#set( $relatedField = $foreign.mappedBy.get($field.name) )
			"${helper.firstToLower($relatedField.name)}_${entity.pk.name}", // this side's column in the join table  
#end
			"${field.simpleType}", // related entity class simple name
			"${field.name}_${foreign.pk.name}", // the related side's column in the join table
			${foreign.pk.name}); 			 
#end
	}
#end	
	
#end

	// ----------------------- uniqueFields finders -------------------------
#foreach( $uniqueFields in $entity.uniqueFieldsSets )
	/**
	 * find-by method for unique attributes
#foreach( $field in $uniqueFields )	 
	 * @param ${field.name} the specified ${field.name}
#end	 
	 * @return the unique ${entity.simpleName} for the specified fields
	 */
	public final ${entity.simpleName} findBy#foreach( $field in $uniqueFields )
${helper.firstToUpper($field.name)}#end(#foreach( $field in $uniqueFields )
${field.type} ${field.name}#if( $velocityCount < $uniqueFields.size() ), #end
#end) {
		final java.util.Map<String,Object> args = new java.util.HashMap<String,Object>($uniqueFields.size());
#foreach( $field in $uniqueFields )
		args.put(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name});
#end
		return findBy(args);
	}
#end

	// ----------------------- populate / persist method -------------------------

	/**
	 * Persist an entity given all attributes
	 */
	public ${entity.simpleName} persist(#if( $entity.parent )
${entity.parent.type} ${entity.parent.name},  	
#end		${entity.pk.type} ${entity.pk.name}#foreach( $field in $entity.fields )
, 
		${field.type} ${field.name}#end
#foreach( $field in $entity.oneToOnes )	 
, 
		${field.type} ${field.name}#end
#foreach( $field in $entity.manyToOnes )	 
, 
		${field.type} ${field.name}#end) {
		${entity.simpleName} domain = null;
		// if primaryKey specified, use it
		if (null != ${entity.pk.name}) {
			domain = findByPrimaryKey(#if( $entity.parent )
${entity.parent.name}, #end${entity.pk.name});
		}
		
#if( 0 < $entity.uniqueFieldsSets.size() )
#set( $uniqueFields = $entity.uniqueFieldsSets.get(0) )
		// use find-by unique column set
		if (null == domain) {
			final java.util.Map<String,Object> args = new java.util.HashMap<String,Object>($uniqueFields.size());
#foreach( $field in $uniqueFields )
			args.put(COLUMN_NAME_${field.name.toUpperCase()}, ${field.name});
#end
			domain = findBy(args);
		}
#end		
		// create new?
		if (null == domain) {
			domain = new ${entity.simpleName}();
#if( $entity.parent )
			// set parent
			domain.set${helper.firstToUpper($entity.parent.name)}((${entity.parent.type}) ${entity.parent.name});
#end			
			// generate Id?
			if (null != ${entity.pk.name}) {
				domain.set${helper.firstToUpper($entity.pk.name)}(${entity.pk.name});
			}
			// fields
#foreach( $field in $entity.fields )
			domain.set${helper.firstToUpper($field.name)}(${field.name});
#end
			// one-to-ones
#foreach( $field in $entity.oneToOnes )	 
			domain.set${helper.firstToUpper($field.name)}(${field.name});
#end
			// many-to-ones
#foreach( $field in $entity.manyToOnes )	 
			domain.set${helper.firstToUpper($field.name)}(${field.name});
#end
			
			persist(domain);
		}
		return domain;
	}


#if( $persistenceType != "JPA" )
#if( $entity.firstUniqueField )
#set( $uniqueField = $entity.firstUniqueField )
	/**
	 * Persists an entity unless it already exists
	 */
	public ${entity.simpleName} persist(#foreach( $field in $entity.fields )
${field.simpleType} ${field.name}#if( 0 < $entity.oneToOnes.size() || 0 < $entity.manyToOnes.size() || $velocityCount < $entity.fields.size() ), #end
#end
#foreach( $field in $entity.oneToOnes )	 
${field.type} ${field.name}#if( 0 < $entity.manyToOnes.size() || $velocityCount < $entity.manyToOnes.size() ), #end
#end
#foreach( $field in $entity.manyToOnes )	 
${field.type} ${field.name}#if( $velocityCount < $entity.manyToOnes.size() ), #end
#end) {
		${entity.simpleName} domain = findBy${helper.firstToUpper($uniqueField.name)}(${uniqueField.name});
		if (null == domain) {
			domain = new ${entity.simpleName}();
#foreach( $field in $entity.fields )
			domain.set${helper.firstToUpper($field.name)}(${field.name});
#end
#foreach( $field in $entity.oneToOnes )	 
			domain.set${helper.firstToUpper($field.name)}(${field.name});
#end
#foreach( $field in $entity.manyToOnes )	 
			domain.set${helper.firstToUpper($field.name)}(${field.name});
#end
			persist(domain);
		}
		return domain;
	}

#end
#end

	
}
