<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

	<!-- ============== Controller Beans for entities in package net.sf.mardao.test.aed.domain ============ -->
	
	<bean id="bookController" class="net.sf.mardao.test.aed.web.BookController">
	    <property name="dao" ref="bookDao" />
	</bean>
	
	<bean id="chapterController" class="net.sf.mardao.test.aed.web.ChapterController">
	    <property name="dao" ref="chapterDao" />
	    <property name="parentDao" ref="bookDao" />
	    <property name="parentBookDao" ref="bookDao" />
	</bean>
	
	<bean id="pageController" class="net.sf.mardao.test.aed.web.PageController">
	    <property name="dao" ref="pageDao" />
	    <property name="parentDao" ref="chapterDao" />
	    <property name="parentBookDao" ref="bookDao" />
	    <property name="parentChapterDao" ref="chapterDao" />
	</bean>
	
	<bean id="footnoteController" class="net.sf.mardao.test.aed.web.FootnoteController">
	    <property name="dao" ref="footnoteDao" />
	    <property name="parentDao" ref="pageDao" />
	    <property name="parentBookDao" ref="bookDao" />
	    <property name="parentChapterDao" ref="chapterDao" />
	    <property name="parentPageDao" ref="pageDao" />
	</bean>
	

</beans>