<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

<!-- Bean managed transactions -->

	<!-- ============== DaoBeans for entities in package net.sf.mardao.test.aed.domain ============ -->
	<bean id="bookDao" 
		class="net.sf.mardao.test.aed.dao.BookDaoBean"
                init-method="init">
	</bean>
	<bean id="chapterDao" 
		class="net.sf.mardao.test.aed.dao.ChapterDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="bookDao" />
	</bean>
	<bean id="pageDao" 
		class="net.sf.mardao.test.aed.dao.PageDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="chapterDao" />
	</bean>
	<bean id="appendixDao" 
		class="net.sf.mardao.test.aed.dao.AppendixDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="bookDao" />
	</bean>
	<bean id="footnoteDao" 
		class="net.sf.mardao.test.aed.dao.FootnoteDaoBean"
                init-method="init">
                <property name="mardaoParentDao" ref="pageDao" />
	</bean>
	

</beans>