<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

#if($containerManagedTransactionManager)
	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="persist*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="*" propagation="SUPPORTS" read-only="true"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* *${daoPackage}.JPAHelper.*(..))"/>
	</aop:config>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

#else
<!-- Bean managed transactions -->
#end

#foreach( $group in $packages.values() )
	<!-- ============== DaoBeans for entities in package ${group.name} ============ -->
#foreach(  $entity in $helper.getEntitiesResolved($group.entities) )	
	<bean id="${helper.firstToLower($entity.simpleName)}Dao" 
		class="${daoPackage}.${entity.simpleName}DaoBean"
                init-method="init">
#if( $entity.parent )
                <property name="mardaoParentDao" ref="${helper.firstToLower($entity.parent.entity.simpleName)}Dao" />
#end
#foreach( $field in $entity.manyToOnes )
                <!-- for ${field.name} Many-To-One relation -->
		<property name="${field.name}Dao" ref="${field.name}Dao" />
#end	
	</bean>
#end
	
#end

</beans>