<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

	<!-- EntityManagerFactory should be created only once! -->
	<bean id="entityManagerFactory" class="javax.persistence.Persistence" factory-method="createEntityManagerFactory" destroy-method="close">
		<constructor-arg value="transactions-optional" />
	</bean>

<!-- Bean managed transactions -->


	<!-- ============== DaoBeans for entities in package net.sf.mardao.test.gae.domain ============ -->
	<bean id="messageDao" class="net.sf.mardao.test.gae.dao.MessageDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="net.sf.mardao.test.gae.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>net.sf.mardao.test.gae.domain.Message</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="commentDao" class="net.sf.mardao.test.gae.dao.CommentDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="net.sf.mardao.test.gae.dao.GAEHelper" autowire="byName">
            <constructor-arg>
               <value>net.sf.mardao.test.gae.domain.Comment</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	

</beans>