<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

#foreach( $group in $packages.values() )
	<!-- ============== Controller Beans for entities in package ${group.name} ============ -->
#foreach(  $entity in $helper.getEntitiesResolved($group.entities) )
	
	<bean id="${helper.firstToLower($entity.simpleName)}Controller" class="${controllerPackage}.${entity.simpleName}Controller">
	    <property name="${helper.firstToLower($entity.simpleName)}Dao" ref="${helper.firstToLower($entity.simpleName)}Dao" />
#if( $entity.parent )
	    <property name="parentDao" ref="${helper.firstToLower($entity.parent.entity.simpleName)}Dao" />
#end	
#foreach( $p in $entity.ancestors )
	    <property name="parent${p.simpleName}Dao" ref="${helper.firstToLower($p.simpleName)}Dao" />
#end	
#foreach( $field in $entity.manyToOnes )
		<property name="${field.name}Dao" ref="${field.name}Dao" />
#end	
	</bean>
#end
	
#end

</beans>