<?xml version="1.0" encoding="UTF-8" ?>
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>${entity.simpleName} - <c:out value="${ESC}{item.${entity.pk.name}}" /></title>
</head>
<body>
	<jsp:include page="header.jsp">
    </jsp:include>
	<h1>${entity.simpleName} item</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Attribute</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><c:out value="${entity.pk.name}" /></td>
				<td><c:out value="${ESC}{item.${entity.pk.name}}" /></td>
			</tr>
#foreach( $field in $entity.fields )
			<tr>
				<td><c:out value="${field.name}" /></td>
				<td><c:out value="${ESC}{item.${field.name}}" /></td>
			</tr>
#end
#foreach( $child in $entity.children )
			<tr>
				<td>+ Children</td>
				<td><a href="<c:out value='${child.simpleName}' />/"><c:out value="${child.simpleName}" /></a></td>
			</tr>
#end
		</tbody>
	</table>
</body>
</html>