<?xml version="1.0" encoding="UTF-8" ?>
<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
	<jsp:include page="header.jsp">
		<jsp:param name="headTitle" value="${entity.simpleName} List" />
    </jsp:include>
	<h1>${entity.simpleName} list</h1>
	<table border="1">
		<thead>
			<tr>
				<th>${entity.pk.name}</th>
#foreach( $field in $entity.fields )
		        <th>${field.name}</th>
#end
			</tr>
		</thead>
		<tbody>
			<c:forEach items="${ESC}{list}" var="item">
			<tr>
				<td><a href="<c:out value='${ESC}{item.${entity.pk.name}}' />/"><c:out value="${ESC}{item.${entity.pk.name}}" /></a></td>
#foreach( $field in $entity.fields )
				<td><c:out value="${ESC}{item.${field.name}}" /></td>
#end
			</tr>
			</c:forEach>
		</tbody>
		<tfoot>
			<tr>
                <td><form method="get" action="create.html"><input type="submit" value="Create ${entity.simpleName}" /></form></td>
            </tr>
        </tfoot>
	</table>
	<jsp:include page="footer.jsp">
		<jsp:param name="headTitle" value="${entity.simpleName} List" />
    </jsp:include>
