<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

	<!-- EntityManagerFactory is managed by the container. -->

	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="persist*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="*" propagation="SUPPORTS" read-only="true"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* *net.sf.mardao.test.jpa.dao.JPAHelper.*(..))"/>
	</aop:config>

   <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
      <property name="entityManagerFactory" ref="entityManagerFactory" />
   </bean>



	<!-- ============== DaoBeans for entities in package net.sf.mardao.test.basic.domain ============ -->
	<bean id="organizationDao" class="net.sf.mardao.test.jpa.dao.JPAOrganizationDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="net.sf.mardao.test.jpa.dao.JPAHelper" autowire="byName">
            <constructor-arg>
               <value>net.sf.mardao.test.jpa.domain.JPAOrganization</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="organizationUnitDao" class="net.sf.mardao.test.jpa.dao.JPAOrganizationUnitDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="net.sf.mardao.test.jpa.dao.JPAHelper" autowire="byName">
            <constructor-arg>
               <value>net.sf.mardao.test.jpa.domain.JPAOrganizationUnit</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	<bean id="employeeDao" class="net.sf.mardao.test.jpa.dao.JPAEmployeeDaoBean" autowire="constructor">
		<property name="helper">
         <bean class="net.sf.mardao.test.jpa.dao.JPAHelper" autowire="byName">
            <constructor-arg>
               <value>net.sf.mardao.test.jpa.domain.JPAEmployee</value>
            </constructor-arg>
         </bean>
      </property>
   </bean>
	
	

</beans>