package ${daoBasePackage};

import java.io.Serializable;

public class GAEHelper<T, ID extends Serializable> extends JPAHelper<T, ID> {

   public GAEHelper(String type) throws ClassNotFoundException {
      super(type);
   }
}
