-- Created by mardao DAO generator $currentDate
-- 
--
#foreach( $group in $packages.values() )
-- ----------- CREATE TABLE for entities in package ${group.name} -----------
#foreach( $entity in $group.entities.values() )	
CREATE TABLE `${entity.simpleName}` (
	`${entity.pk.name}` $dbTypes.get($entity.pk.type) NOT NULL,
#foreach( $column in $entity.fields )
	`${column.name}` $dbTypes.get($column.type) $dbDefaults.get($column.type), 
#end
#foreach( $column in $entity.manyToOnes )
	`${column.name}` $dbTypes.get($column.entity.pk.type) DEFAULT NULL,
#end
	PRIMARY KEY (`${entity.pk.name}`)#if( 0 < $entity.uniqueConstraints.size() || 0 < $entity.manyToOnes.size() ),#end
	
#foreach( $columnSet in $entity.uniqueConstraints )
	UNIQUE (#foreach( $column in $columnSet )`${column}`#if( $velocityCount < $columnSet.size() ),#end
#end)#if( 0 < $entity.manyToOnes.size() || $velocityCount < $entity.uniqueConstraints.size() ),#end

#end
#foreach( $column in $entity.manyToOnes )
	CONSTRAINT `Fk${entity.simpleName}${helper.firstToUpper($column.name)}` FOREIGN KEY (`${column.name}`) REFERENCES `${column.entity.simpleName}` (`${column.entity.pk.name}`)#if( $velocityCount < $entity.manyToOnes.size() ),#end
	
#end
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
#end
#end

-- ----------- CREATE TABLE for sequence and db version -----------
create table id_sequence (highest int not null) type=MYISAM;
insert into id_sequence values(0);
create table db_version (currentVersion int not null) type=MYISAM;
insert into db_version values(1);
