-- Created by mardao DAO generator $currentDate
-- CREATE script for TABLE ${entity.tableName} corresponding to Entity ${entity.simpleName} 
--
CREATE TABLE `${entity.tableName}` (
	`${entity.pk.columnName}` $dbTypes.get($entity.pk.type) NOT NULL,
#foreach( $column in $entity.fields )
	`${column.columnName}` $dbTypes.get($column.type) #if("createdDate" == $column.columnName) $dbDefaults.get($column.type) #else DEFAULT 0 #end, 
#end
#foreach( $column in $entity.oneToOnes )
	`${column.columnName}` $dbTypes.get($column.entity.pk.type) NOT NULL,
#end
#foreach( $column in $entity.manyToOnes )
	`${column.columnName}` $dbTypes.get($column.entity.pk.type) DEFAULT NULL,
#end
#foreach( $columnSet in $entity.uniqueConstraints )
	UNIQUE (#foreach( $column in $columnSet )`${column}`#if( $velocityCount < $columnSet.size() ),#end
#end),
#end
#foreach( $column in $entity.oneToOnes )
	CONSTRAINT `Fk${entity.simpleName}${helper.firstToUpper($column.name)}` FOREIGN KEY (`${column.columnName}`) REFERENCES `${column.entity.tableName}` (`${column.entity.pk.columnName}`),
#end
#foreach( $column in $entity.manyToOnes )
	CONSTRAINT `Fk${entity.simpleName}${helper.firstToUpper($column.name)}` FOREIGN KEY (`${column.columnName}`) REFERENCES `${column.entity.tableName}` (`${column.entity.pk.columnName}`),
#end
	PRIMARY KEY (`${entity.pk.columnName}`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
