package com.goldengekko.air.persistence.dao;

import java.util.Map;

import javax.persistence.EntityManager;
import javax.persistence.EntityManagerFactory;
import javax.persistence.Persistence;

import org.springframework.dao.NonTransientDataAccessResourceException;

public final class SingletonEntityManagerFactory implements EntityManagerFactory {

    private EntityManagerFactory _instance = null;
    private final String         persistenceUnitName;

    public SingletonEntityManagerFactory(String persistenceUnitName) {
        this.persistenceUnitName = persistenceUnitName;
    }

    protected EntityManagerFactory getFactory() {
        if (null == _instance) {
            _instance = Persistence.createEntityManagerFactory(persistenceUnitName);
            if (null == _instance) {
                throw new NonTransientDataAccessResourceException("No such persistence unit " + persistenceUnitName);
            }
        }
        return _instance;
    }

    public void close() {
        getFactory().close();
        _instance = null;
    }

    public EntityManager createEntityManager() {
        return getFactory().createEntityManager();
    }

    public EntityManager createEntityManager(Map map) {
        return getFactory().createEntityManager(map);
    }

    public boolean isOpen() {
        return null != _instance && _instance.isOpen();
    }

}
