package ${daoBasePackage};

import ${entity.className};

/**
 * Concrete class without generics, for Spring container instatiation.
 */
public class ${entity.simpleName}SpringHelper extends AbstractSpringHelper<${entity.simpleName}, ${entity.pk.type}> {

   public ${entity.simpleName}SpringHelper() {
      super(${entity.simpleName}.class);
   }
   
}
