<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

#if( $containerManagedEntityManager )
	<!-- EntityManagerFactory is managed by the container. -->
#else
	<!-- EntityManagerFactory should be created only once! -->
#if( $persistenceType == "JPA" )
	<bean id="entityManagerFactory" class="${daoPackage}.SingletonEntityManagerFactory" destroy-method="close">
		<constructor-arg value="${persistenceUnitName}" />
	</bean>
#else
	<bean id="entityManagerFactory" class="javax.persistence.Persistence" factory-method="createEntityManagerFactory" destroy-method="close">
		<constructor-arg value="transactions-optional" />
	</bean>
#end
#end

#if($containerManagedTransactionManager)
	<tx:advice id="txAdvice">
		<tx:attributes>
			<tx:method name="create*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="persist*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="*" propagation="SUPPORTS" read-only="true"/>
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* *${daoPackage}.JPAHelper.*(..))"/>
	</aop:config>

#if( $persistenceType == "JPA" )
   <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
      <property name="entityManagerFactory" ref="entityManagerFactory" />
   </bean>
#else
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
#end

#else
<!-- Bean managed transactions -->
#end

#if( $persistenceType == "Spring" )
	<bean id="daoProperties" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location"><ref bean="propertyUrlResource"/></property>
	</bean>

	<!-- ============== DataSource and Incrementors ============ -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${dao.driver.classname}" />
		<property name="url" value="${dao.connection.url}" />
		<property name="username" value="${dao.connection.username}" />
		<property name="password" value="${dao.connection.password}" />
		<property name="validationQuery" value="${dao.connection.validationQuery}" />
	</bean>
	<bean id="daoIncrementerMYSQL" class="org.springframework.jdbc.support.incrementer.MySQLMaxValueIncrementer">
		<property name="dataSource" ref="dataSource" />
		<property name="incrementerName" value="id_sequence" />
		<property name="columnName" value="highest" />
	</bean>
#end

#foreach( $group in $packages.values() )
	<!-- ============== DaoBeans for entities in package ${group.name} ============ -->
#foreach(  $entity in $helper.getEntitiesResolved($group.entities) )	
	<bean id="${helper.firstToLower($entity.simpleName)}Dao" class="${daoPackage}.${entity.simpleName}DaoBean" autowire="constructor">
		<property name="helper">
#if( $persistenceType == "Spring" || $persistenceType == "AED")
			<ref local="${helper.firstToLower($entity.simpleName)}Helper"/>
#else
			 <bean class="${daoPackage}.${persistenceType}Helper" autowire="byName">
			    <constructor-arg>
			       <value>${entity.className}</value>
			    </constructor-arg>
			 </bean>
#end
		</property>
	</bean>
#if( $persistenceType == "Spring" )
	<bean id="${helper.firstToLower($entity.simpleName)}Helper" class="${daoPackage}.${entity.simpleName}${persistenceType}Helper" 
     	autowire="byType" init-method="checkTables" depends-on="#foreach( $dependency in $entity.dependsOn )${helper.firstToLower($dependency.simpleName)}Helper #end" />
#elseif( $persistenceType == "AED" )
	<bean id="${helper.firstToLower($entity.simpleName)}Helper" class="${daoPackage}.${entity.simpleName}${persistenceType}Helper" 
     	autowire="byType" depends-on="#foreach( $dependency in $entity.dependsOn )${helper.firstToLower($dependency.simpleName)}Helper #end" />
#end
#end
	
#end

</beans>