package ${daoBasePackage};

import java.io.Serializable;

public class Expression {
    private final Object o1;
    private final String operator;
    private final Object o2;

    public Expression(Object o1, String operator, Object o2) {
        this.o1 = o1;
        this.operator = operator;
        this.o2 = o2;
    }

    public Object getO1() {
        return o1;
    }

    public Object getO2() {
        return o2;
    }

    public String getOperator() {
        return operator;
    }

    public static class AND extends Expression {
        public AND(Expression o1, Expression o2) {
            super(o1, "AND", o2);
        }
    }
    public static class EQ extends Expression {
        public EQ(String columnName, Object value) {
            super(columnName, "=", value);
        }
    }
    public static class LIKE extends Expression {
        public LIKE(String columnName, String startsWith) {
            super(columnName, "LIKE", startsWith);
        }
    }
    public static class OR extends Expression {
        public OR(Expression o1, Expression o2) {
            super(o1, "OR", o2);
        }
    }
    public static class IN extends Expression {
        public IN(String column, Object operand) {
            super(column, "IN", operand);
        }
        public String getToken(String key) {
            return "(:" + key + ")";
        }
    }
}

