#set( $allFields = $entity.allFields )
package ${daoBasePackage};

import net.sf.mardao.dao.Mapper;
import net.sf.mardao.dao.Supplier;
import ${entity.className};

/**
 * The ${entity.simpleName} domain-object specific mapping methods go here.
 *
 * Generated on ${currentDate}.
 * @author mardao DAO generator (${helper.class.name})
 */
public class ${entity.simpleName}Mapper
  implements Mapper<${entity.simpleName}, ${entity.pk.simpleType}> {

  private final Supplier supplier;

  public enum Field {
    ${entity.pk.name.toUpperCase()}("${entity.pk.name}")#foreach( $field in $allFields ),
    ${field.name.toUpperCase()}("${field.columnName}")#end;

    private final String fieldName;

    Field(String fieldName) {
      this.fieldName = fieldName;
    }

    public String getFieldName() {
      return fieldName;
    }
  }

  public ${entity.simpleName}Mapper(Supplier supplier) {
    this.supplier = supplier;
  }

  @Override
  public ${entity.pk.simpleType} fromKey(Object key) {
    return supplier.to${entity.pk.simpleType}Key(key);
  }

  @Override
  public ${entity.simpleName} fromReadValue(Object value) {
    final ${entity.simpleName} entity = new ${entity.simpleName}();

    // set primary key:
    entity.set${entity.pk.nameFirst}(supplier.get${entity.pk.simpleType}(value, Field.${entity.pk.name.toUpperCase()}.getFieldName()));

    // set all fields:
#foreach( $field in $allFields )
    entity.set${field.nameFirst}(supplier.get${field.simpleType}(value, Field.${field.name.toUpperCase()}.getFieldName()));
#end
    return entity;
  }

  @Override
  public ${entity.pk.simpleType} getId(${entity.simpleName} entity) {
    return entity != null ? entity.get${entity.pk.nameFirst}() : null;
  }

  @Override
  public Object toKey(${entity.pk.simpleType} id) {
    return supplier.toKey(${entity.pk.simpleType}.class.getSimpleName(), id);
  }

  @Override
  public Object toWriteValue(${entity.simpleName} entity) {
    final ${entity.pk.simpleType} id = getId(entity);
    final Object key = toKey(id);
    final Object value = supplier.createWriteValue(key);

    // set the primary key:
    supplier.set${entity.pk.simpleType}(value, Field.${entity.pk.name.toUpperCase()}.getFieldName(), entity.get${entity.pk.nameFirst}());

    // set all fields:
#foreach( $field in $allFields )
    supplier.set${field.simpleType}(value, Field.${field.name.toUpperCase()}.getFieldName(), entity.get${field.nameFirst}());
#end
    return value;
  }

}
